<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwu.ans.foodsafty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".login.SignInActivity" />
        <activity android:name=".new_record_building.BuildingActivity" />
        <activity android:name=".new_record_food_preperation.FoodPreperationActivity" />
        <activity android:name=".result.ResultActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".reports.ReportActivity" />
        <activity android:name=".tips.TipsActivity"></activity>
    </application>

</manifest>